<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>New Opera</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css"/>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<script src="//code.jquery.com/jquery.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  

  
  <nav class="navbar navbar-inverse" role="navigation">

  <!-- Logo e pulsante per barra ridimensionata -->
  <div class="col-md-1">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Espandi barra di navigazione</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/primaPagina">Home</a>
  </div>
  </div>

  <!-- Elementi della barra -->
  <div class="collapse navbar-collapse navbar-ex1-collapse" >
    <ul class="nav navbar-nav">
      <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" th:text="#{label.navigate}">Naviga <span class="caret"></span></a>
          <ul class="dropdown-menu ">
            <li><a href="/opera" th:text="#{label.viewOpere}">Visualizza opere </a></li>
            <li><a href="/autore" th:text="#{label.viewAutore}"> Visualizza autore </a></li>
            <li><a href="/stanza" th:text="#{label.ViewStanza}">Visualizza stanze</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      <li class="dropdown" sec:authorize="hasAuthority('ADMIN')">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" th:text="#{label.manage}">Gestisci <span class="caret"></span></a>
          <ul class="dropdown-menu ">
            <li><a href="/admin/opera" th:text="#{label.AddOpera}"> OPERA </a></li>
            <li><a href="/admin/autore" th:text="#{label.AddAutore}"> AUTORE </a></li>
            <li><a href="/stanza" th:text="#{label.ViewStanza}">STANZA</a></li>
            <li><a href="/uploadFile" th:text="#{label.uploadImg}">UPLOAD IMMAGINE</a></li>
          </ul>
        </li>
      <li><a href="/logout" th:text="#{label.logOut}">Log Out</a></li>
    </ul>
  </div>

</nav>





<div class="container">
    <div class="row">
    
    <div class="col-md-2"></div>
    <div class="col-md-8">
				<div class="w3-card-4">
			  <div class="w3-container w3-black">
			    <h2>Aggiungi Opera</h2>
			  </div>
			  <form class="w3-container" th:action="@{/admin/opera}" th:object="${opera}" method="post">
			  	<fieldset>
			      
			 <p>
			<div>
                    <div class="input-group">
  					<label class="input-group-addon w3-text-black" th:text="#{label.title}">Titolo: </label> 
				
				<span><input class="w3-input w3-border w3-gray" type="text" th:field="*{titolo}" /></span> 
				<span th:if="${#fields.hasErrors('titolo')}" th:text="#{label.mandatory}">Error</span>
			</div>
			</div>
			  </p>  
			  
			    
			    <p>
			    
			    <div>
				<div class="input-group">
				<span class="input-group-addon w3-text-black" th:text="#{label.year}">Anno: </span> 
				<span><input class="w3-input w3-border w3-gray" type="text" th:field="*{anno}" /></span> 
				<span th:if="${#fields.hasErrors('anno')}" th:text="#{label.number}">Error</span>
				</div>
			</div>
				</p>
			    
			    <p>
			    <div>
				<select name="idAutore">
					<option th:each="item : ${autori}" th:value="${item.id}"
						th:text="${item.Cognome}"></option>
				</select>

			</div>
			    
			    </p>
			    
			   <p>
			    <div class="form-actions">
					<button type="submit" class="btn">Invia</button>
 				</div>
 				</p>
 				
			    </fieldset>
			  </form>
			</div>
	</div>
	</div>
	</div>












<!-- 	<div class="container"> -->
<!--     <div class="row"> -->
    
<!--     <div class="col-md-4"></div> -->
<!--     <div class="col-md-8"> -->
<!-- 	<form action="#" th:action="@{/admin/opera}" th:object="${opera}" -->
<!-- 		method="post"> -->
<!-- 		<div> -->
<!-- 			<div> -->
<!--                     <div class="input-group"> -->
<!--   					<span class="input-group-addon" th:text="#{label.title}">Titolo: </span>  -->
				
<!-- 				<span><input -->
<!-- 					type="text" th:field="*{titolo}" /></span> <span -->
<!-- 					th:if="${#fields.hasErrors('titolo')}" th:text="#{label.mandatory}">Error</span> -->
<!-- 			</div> -->
<!-- 			</div> -->
<!-- 			<div> -->
<!-- 				<div class="input-group"> -->
<!-- 				<span class="input-group-addon" th:text="#{label.year}">Anno: </span> <span><input -->
<!-- 					type="text" th:field="*{anno}" /></span> <span -->
<!-- 					th:if="${#fields.hasErrors('anno')}" th:text="#{label.number}">Error</span> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 			<div> -->
<!-- 				<select name="idAutore"> -->
<!-- 					<option th:each="item : ${autori}" th:value="${item.id}" -->
<!-- 						th:text="${item.Cognome}"></option> -->
<!-- 				</select> -->

<!-- 			</div> -->
<!-- 			<div> -->
<!-- 				<span><button type="submit">Submit</button></span> -->
<!-- 			</div> -->
<!-- 		</div> -->
<!-- 	</form> -->
<!-- 	</div> -->
<!-- 	</div> -->
<!-- 	</div> -->
</body>
</html>