<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">
<head>
<title>Customer Management</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div>
		<a href="/admin/opera" th:text="#{label.AddOpera}"> OPERA </a>
	</div>
	<div>
		<a href="/admin/autore" th:text="#{label.AddAutore}"> AUTORE </a>
	</div>
	<div>
		<a href="/stanza" th:text="#{label.ViewStanza}">STANZA</a>
	</div>

	<div>
		<a href="/uploadFile">UPLOAD IMMAGINE</a>
	</div>

</body>
</html>