<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Nuovo Autore</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<script src="//code.jquery.com/jquery.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  
  
  <!--Barra onnipresente -->
   <nav class="navbar navbar-inverse" role="navigation">

  <!-- Logo e pulsante per barra ridimensionata -->
  <div class="col-md-1">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Espandi barra di navigazione</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/primaPagina">Home</a>
  </div>
  </div>

  <!-- Elementi della barra -->
  <div class="collapse navbar-collapse navbar-ex1-collapse" >
    <ul class="nav navbar-nav">
      <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" th:text="#{label.navigate}">Naviga <span class="caret"></span></a>
          <ul class="dropdown-menu ">
            <li><a href="/opera" th:text="#{label.viewOpere}">Visualizza opere </a></li>
            <li><a href="/autore" th:text="#{label.viewAutore}"> Visualizza autore </a></li>
            <li><a href="/stanza" th:text="#{label.ViewStanza}">Visualizza stanze</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      <li class="dropdown" sec:authorize="hasAuthority('ADMIN')">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" th:text="#{label.manage}">Gestisci <span class="caret"></span></a>
          <ul class="dropdown-menu ">
            <li><a href="/admin/opera" th:text="#{label.AddOpera}"> OPERA </a></li>
            <li><a href="/admin/autore" th:text="#{label.AddAutore}"> AUTORE </a></li>
            <li><a href="/stanza" th:text="#{label.ViewStanza}">STANZA</a></li>
            <li><a href="/uploadFile" th:text="#{label.uploadImg}">UPLOAD IMMAGINE</a></li>
          </ul>
        </li>
      <li><a href="/logout" th:text="#{label.logOut}">Log Out</a></li>
    </ul>
  </div>

</nav>
	<form action="#" th:action="@{/admin/autore}" th:object="${autore}"
		method="post">
		<div>
			<div>
				<span th:text="#{label.name}">Nome: </span> <span><input
					type="text" th:field="*{nome}" /></span> <span
					th:if="${#fields.hasErrors('nome')}" th:text="#{label.mandatory}">Error</span>
			</div>
			<div>
				<span th:text="#{label.surname}">Cognome: </span> <span><input
					type="text" th:field="*{cognome}" /></span> <span
					th:if="${#fields.hasErrors('cognome')}"
					th:text="#{label.mandatory}">Error</span>
			</div>
			<div>
				<span th:text="#{label.nationality}">Nazionalità: </span> <span><input
					type="text" th:field="*{nazionalita}" /></span> <span
					th:if="${#fields.hasErrors('nazionalita')}"
					th:text="#{label.mandatory}">Error</span>
			</div>
			<div>
				<span th:text="#{label.birthYear}">Anno di nascita: </span> <span><input
					type="text" th:field="*{dataNascita}" /></span> <span
					th:if="${#fields.hasErrors('dataNascita')}"
					th:text="#{label.number}">Error</span>
			</div>
			<div>
				<span th:text="#{label.deathYear}">Anno di morte: </span> <span><input
					type="text" th:field="*{dataMorte}" /></span> <span
					th:if="${#fields.hasErrors('dataMorte')}" th:text="#{label.number}">Error</span>
			</div>
			<div>
				<span th:text="#{label.description}">Biografia</span> <span><input
					type="text" th:field="*{biography}" /></span> <span
					th:if="${#fields.hasErrors('dataMorte')}"
					th:text="#{label.mandatory}">Error</span>
			</div>

			<div>
				<span><button type="submit">Submit</button></span>
			</div>
		</div>
	</form>
</body>
</html>