
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>Customer Management</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<h1>Scegli Cosa Fare</h1>
<body>
	<p>
		<a href="/opera"> OPERA </a>
	</p>
	<div>
		<a href="/autore"> AUTORE </a>
	</div>
	<div>
		<a href="/logout"><button>Log Out</button></a>
	</div>
	 <div sec:authorize="hasAuthority('ADMIN')">
        <a href="/adminindex">MenuAdmin</a>
    </div>
</body>
</html>