
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>Customer Management</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<h1>Scegli Cosa Fare</h1>
<body>
	<div>
		<a href="/opera" th:text="#{label.viewOpere}">Visualizza opere </a>
	</div>
	<div>
		<a href="/autore" th:text="#{label.viewAutore}"> Visualizza autore </a>
	</div>
	<div>
		<a href="/stanza" th:text="#{label.ViewStanza}">Visualizza stanze</a>
	</div>
	<p>
		<a href="/logout" th:text="#{label.logOut}">Log Out</a>
	</p>
	 <div sec:authorize="hasAuthority('ADMIN')">
        <a href="/adminindex">MenuAdmin</a>
    </div>
    
</body>
</html>