
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet"
	href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<script src="//code.jquery.com/jquery.js"></script>
	<script
		src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

	<script>
		// Redirect dopo 5 secondi
		setTimeout(function() {
			window.location.href = "/primaPagina";
		}, 5000);
	</script>
	<!-- JUMBOTRON -->
	<div class="jumbotron">
		<h1 th:text="#{label.Welcome}">Benvenuto</h1>
		<h2 th:text="#{label.AcmeMuseum}">Acme Museum</h2>
	</div>
	<span th:text="#{label.login}">Login Success</span>
</body>
</html>